{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Network - {% block title %}{% endblock %}</title>

         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" 
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" defer>

        <!-- jQuery library -->
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer>
        </script>
        
        <!-- Latest compiled JavaScript -->
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer>
        </script>

        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'network/favicon.ico' %}">

        <script src="{% static 'network/comment.js' %}" defer></script>
        <script src="{% static 'network/getCookie.js' %}" defer></script>
        <script src="{% static 'network/post.js' %}" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark 
                    border border-dark mr-2 ml-2">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                 data-target="#target">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="target">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' user.id %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'followers' user.id %}">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class = "nav-item dropdown"> 
                        <a  class="nav-link dropdown-toggle"  href="#"
                            id="navbardrop" data-toggle="dropdown"> 
                            <span data-toggle='tooltip' title="Code/Readme" data-placement='bottom'>
                                About
                            </span></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropAbout">
                            <a class="dropdown-item text-white" href="https://alfiomartini.github.io/"
                             target="_blank">Github Page</a>
                            <a class="dropdown-item text-white" 
                               href="https://github.com/alfiomartini/network" target="_blank">
                               Source Code
                            </a>
                            <a class="dropdown-item text-white" href="{% url 'readme' %}">Readme</a>
                            <a class="dropdown-item text-white" href="https://youtu.be/Iw0t2QbVPIQ" 
                              target="_blank">Watch me</a>
                        </div>
                      </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
              {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' user.id %}"><strong>{{ user.username }}</strong></a>
                  </li>
              </ul>
              {% endif %}
            </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
            {% block scripts %}
            {% endblock %}
        </div>
    </body>
</html>