{% extends 'network/layout.html' %}

{% load static %}

{% block body %}
<div class="user-data">
  <h4 class="m-3">{{post_user.username}}</h4>
  {% if post_user != request.user %}
    {% if post_user in request.user.following_all %}
    <a class="follow-btn" href="#" id="{{post_user.id}}">Unfollow</a>
    {% else %}
    <a class="follow-btn" href="#" id="{{post_user.id}}">Follow</a>
    {% endif %}
  {% endif %}
  <div class=" ml-3">Joined {{post_user.date_joined}}</div>
  <p class="ml-3">
    <span class="user-network ">Following
    </span>
    {{post_user.following_count}}
    <span class="user-network ml-3" >Followers 
    </span> <span class='followers-count-{{post_user.id}}'>{{post_user.followers_count}}</span>
  </p>
</div>

<div class="posts-container">
  {% for post in page_posts %}
  <div class="post-wrapper post-wrapper-{{post.id}}">
    <h5><a href="{% url 'profile' post.user.id %}">{{post.user}}</a></h5>
    {% if request.user == post.user %}
    <a href="#" class="edit-btn edit-action" data-post='{{post.id}}'>Edit</a>
    <a href="#" class="del-btn del-post-action" data-post='{{post.id}}'>Delete</a>
    {% endif %}
    <div class="post-text-{{post.id}} post-text">{{post.post_text}}</div>
    <div>{{post.date}}</div>
    <div>
      {% if request.user in post.liked_by_all %}
      <button class="like-btn like-action" id="{{post.id}}">Unlike</button>
      {% else %}
      <button class="like-btn like-action" id="{{post.id}}">Like</button>
      {% endif %}
      <span class="counter" data-counter="{{post_id}}">{{post.likes_count}}</span>
    </div>
    <div class="mb-2"><a class="edit-btn comments-action mr-2" href="#" data-post={{post.id}}>
        Comments</a><span class='comment-counter-{{post.id}}'>{{post.comments_count}}</span>
    </div>

    <div class="comment-wrapper">
      <form class="form-comment-{{post.id}}">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Comment" aria-describedby="" name='comment' minlength="1"
            data-post="{{post.id}}">
          <div class="input-group-append">
            <button class="btn btn-primary post-action" type="button" data-post="{{post.id}}"
              data-counter="{{post.comments_count}}">Post</button>
          </div>
        </div>
      </form>
      <ul class="comment-list-{{post.id}} hide-comments">
        {% for comment in post.comments %}
        <div class="comment-item comment-item-{{post.id}}-{{comment.id}}">
          <li class="">
            <span>({{comment.new_date}} by {{comment.by_user.username}}) </span>{{comment.text}}
          </li>
          <!-- Post owners can delete comments made to the post 
                          Comment authors can also delete comments -->
          {% if post.user == request.user or comment.by_user == request.user %}
          <div><a class="del-btn del-action" href="#" data-post="{{post.id}}" data-comment="{{comment.id}}"
              data-counter="{{post.comments_count}}">
              delete
            </a>
          </div>
          {% else %}
          <!-- this is just to ease formatting by flexbox -->
          <div><a class="del-btn text-white bg-white">delete</a></div>
          {% endif %}
        </div>

        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

{% if page_posts.has_other_pages %}
<ul class="pagination justify-content-center mt-3">
  {% if page_posts.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page={{page_posts.previous_page_number }}">Previous
    </a>
  </li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">Previous</span></li>
  {% endif %}
  {% for i in page_posts.paginator.page_range %}
  {% if page_posts.number == i %}
  <li class="page-item active"><span class="page-link">{{ i }}</span></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page_posts.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next
    </a>
  </li>
  {% else %}
  <li class="page-item" class="disabled"><span class="page-link">Next</span></li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'network/getCookie.js' %}"></script>
<script>
  addEventListener('DOMContentLoaded', listeners);

  function listeners() {

    // processing likes and unlikes
    let follow_btn = document.querySelector('.follow-btn')
    if (follow_btn) {
      follow_btn.addEventListener('click', processFollow);
    }
  }

  function processFollow() {
    let button = this;
    let action = button.innerHTML;
    let user_id = button.id
    console.log(action);
    console.log(user_id)
    // update database
    let csrftoken = getCookie('csrftoken');
    fetch(`/update/user/${user_id}/follow`, {
      method: 'PUT',
      headers: {
        "X-CSRFToken": csrftoken,
        "Accept": "application/json",
        "Content-Type": "application/json"
      },
      credentials: 'same-origin',
      body: JSON.stringify({ action: action })
    })
      .then(response => {
        // console.log(response.status);
        return response.text();
      })
      .then(data => {
        console.log(data);
        const counter_elem = document.querySelector(`.followers-count-${user_id}`);
        let count = Number(counter_elem.innerHTML) 
        if (action === 'Unfollow') {
          button.innerHTML = 'Follow';
          count--;
        }
        else {
          button.innerHTML = 'Unfollow';
          count++;
        }
        // update followers counter
        counter_elem.innerHTML=count;
      })
      .catch(error => {
        console.log(error);
      });
  }
</script>
{% endblock %}