{% extends 'network/layout.html' %}

{% load static %}

{% block body %}
<div class="user-data">
  <h4 class="m-3">{{post_user.username}}</h4>
  {% if post_user != request.user %}
    {% if post_user in request.user.following_all %}
      <a class="follow-btn" href="#" id="{{post_user.id}}">Unfollow</a>
    {% else %}
      <a class="follow-btn" href="#" id="{{post_user.id}}">Follow</a>
    {% endif %}
  {% endif %}
  <div class=" ml-3">Joined {{post_user.date_joined}}</div>
  <p class="ml-3">
    <span class="user-network ">Following 
    </span> 
     {{post_user.following_count}} 
     <span class="user-network  ml-3">Followers </span> {{post_user.followers_count}}
  </p>
</div>

{% for post in user_posts %}
<div class="post-wrapper">
    <h5 ><a href="{% url 'profile' post.id %}">{{post.user}}</a></h5>
    {% if request.user == post.user %}
        <a href="#" class="edit edit-btn" data-post ='{{post.id}}'>Edit</a>
    {% endif %}
    <div class="post-text-{{post.id}}">{{post.post_text}}</div>
    <div>{{post.date}}</div>
    <div>
        {% if post_user in post.liked_by_all %}
            <button class="like-btn" id="{{post.id}}">Unlike</button>
        {% else %}
            <button class="like-btn" id="{{post.id}}">Like</button>
        {% endif %}
        <span class="counter" data-counter="{{post_id}}">{{post.likes_count}}</span>
    </div>
    <div>Comment</div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
<script src="{% static 'network/getCookie.js' %}"></script>
<script>
addEventListener('DOMContentLoaded', listeners);

function listeners(){

    // processing likes and unlikes
    let follow_btn = document.querySelector('.follow-btn')
    if (follow_btn){
      follow_btn.addEventListener('click', processFollow);
    }   
}

function processFollow(){
  let button = this;
  let action = button.innerHTML;
  let user_id = button.id
  console.log(action);
  console.log(user_id)
  // update database
  let csrftoken = getCookie('csrftoken');
  fetch(`/update/user/${user_id}/follow`, {
      method:'PUT',
      headers: {
      "X-CSRFToken": csrftoken,
      "Accept": "application/json",
      "Content-Type": "application/json"
      },
      credentials: 'same-origin',
      body: JSON.stringify({action:action})
  })
  .then(response => {
      // console.log(response.status);
      if (action === 'Unfollow'){
        button.innerHTML = 'Follow';
      }
      else{
        button.innerHTML = 'Unfollow';
      }
      return response.text();
  })
  .then(data => {
      console.log(data);
  })
  .catch(error => {
      console.log(error);
  });
}
</script>
<script src="{% static 'network/post.js' %}"></script>
{% endblock %}