{% extends "network/layout.html" %}

{% block title %} Readme {% endblock %}

{% block body %}
<div class="readme-wrapper">
  <div class="readme">
    <p>This application is a Twitter-like social network for making posts and following users. It is implemented with <em>HTML</em>, <em>CSS</em>, <em>JavaScript</em>, <em>Bootstrap</em>, <em>Python</em>, <em>Django</em> and the <em>SQLite</em> database. Signed in users can <em>write</em> new text-based posts, <em>edit</em> and <em>delete</em> their own posts, <em>like</em> or <em>unlike</em> posts,  <em>comment</em> on posts,  and <em>delete</em> any comment written by themselves as well. Through the navbar, the user can access <em>all posts</em> from all users, its <em>profile</em> page, posts from <em>followers</em>, and posts from users that he or she is <em>following</em> as well. Furthermore, ckicking on the username of any post leads to the profile page of that user. All pages use a basic pagination technique that limits the number of posts that are displayed.</p>
  </div>
</div>
{% endblock %}