* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  padding: 20px;
}

/* Navbar */

/* Form New Post */

#form-post{
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
/* Posts */

.post-wrapper{
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

 /* Buttons */

 .like-btn{
  display: inline-block;
  text-decoration: none;
  color:whitesmoke;
  font-size: 12px;
  background-color: blue;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top:10px;
  margin-right:5px;
}

.like-btn:hover{
  background-color: darkblue;
  color: whitesmoke;
  text-decoration: none;
} 

.edit-btn{
  margin-top: 10px;
  margin-bottom:5px;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 12px;
  background-color: #333333;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
}

.edit-btn:hover{
  background-color: navy;
  color: whitesmoke;
  text-decoration: none;
} 

.follow-btn{
  margin-top: 10px;
  margin-bottom:5px;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  background-color: #333333;
  padding: 2px 12px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.follow-btn:hover{
  background-color: navy;
  color: whitesmoke;
  text-decoration: none;
}

/* Profile Page */

.user-data{
  border: 1px solid black;
  margin:10px;
  padding: 20px;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: whitesmoke;
  font-variant: small-caps;
}
.user-data h4{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.users-list{
  padding: 20px;
}


/* Media Queries */

/* @media (max-width:500px){
  .post-wrapper{
    min-width: 350px;
    max-width: 350px;
  }
} */